@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6D5B3;
    font-family: 'oregano', 'georgia', 'serif';
    font-size: 22px;
    margin: 0;
    padding: 0; 
}

header {
    background-color: #8FA998;
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}
