@media screen and (min-width: 640px) {
    body {
        background-color: #D6D5B3;
        font-family: 'oregano', 'georgia', 'serif';
        font-size: 22px;
        margin: 0;
        padding: 0; 
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #8FA998;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav a {
        text-decoration: none;
        color: #4F345A;
        text-align: center;
        padding: 35px;
        font-size: 2em;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: center;
        padding-right: 2rem;
    }

    nav a:hover {
        background-color: #4F345A;
        color: #8FA998;
        border-radius: 20px;
    }

    .lrscc-company-blog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    .header {
        grid-column: span 2;
        text-align: center;
        background: #D6D5B3;
    }

    .leftcolumn {
        grid-column: 1 / 2;
    }

    .rightcolumn {
        grid-column: 2 / 3;
    }
    
    .card {
        background-color: #8FA998;
        border: 2px solid #4F345A;
        padding: 16px;
        margin: 16px;
        border-radius: 10px;
        border-width: 1.5rem;
        border-color: #4F345A;
        box-shadow: 10px 10px 20px;
    }
    
    .card img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .profile-picture-card {
        background-color: #8FA998;
        border: 2px solid #4F345A;
        padding: 16px;
        margin: 16px;
        border-radius: 10px;
        border-width: 1.5rem;
        border-color: #4F345A;
        box-shadow: 10px 10px 20px;
    }
    
    .profile-picture-card img {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }

    footer {
        background-color: #8FA998;
        color: #060505;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
        text-align: center;
        font-family: 'Oregano';
        font-weight: 700;
    }
}