
body {
    font-family: 'Roboto', Times, serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: #91C499;
    color: #060505;
    padding: 1rem;
}

nav {
    background-color:#91C499;
}

#menuButton::before {
    content: "\2630";
}

#menuButton {
    /* display: block; */
    font-size: 2rem;
    background: none;
    border: none;
    color: #060505;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem;
}

ul.menuLinks li a {
    /* display: flex; */
    display: block;
    /* flex-direction: column; */
    width: 100%;
    padding: 1rem;
    color: #060505;
    /* justify-content: space-around; */
    text-decoration: none;
}

li.current-menu-item a {
    background-color: #fff;
}

ul.menuLinks {
    display: flex;
}

#menuButton.open::before {
    content: "X";
}

ul.menuLinks.open {
    display: flex;
}

.card {
    border: 2px solid #060505;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: #FFFCE8;
    box-shadow: 10px 10px 20px ;
    /* width: calc(33.333% - 32px); */
}

footer {
    /* background-color: #53599A; */
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto';
    background-color: #91C499;
    color: #060505;
}