
body {
    font-family: 'Roboto', Times, serif;
}

/* Header styles */
header {
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: #91C499;
    color: #060505;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

#menuButton::before {
    content: "\2630";
    font-size: 40px;
}

#menuButton.open::before {
    content: "X";
}

/* Menu button styles */
#menuButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #060505;
    cursor: pointer;
    /* width: 100%; */
    /* text-align: right;
    padding: .25rem; */
}

nav {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color:#91C499;
}

nav.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFCE8;
    justify-content: space-around;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #060505;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: block;
}

ul.menuLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
}

/* nav a:hover, nav .current-menu-item {
    background: #fff;
    border-radius: 4px;
} */

/* Main content styes */
main {
    max-width: 80%;
    max-height: 70%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.toggle-button {
    display: none;
}

ul.menuLinks li a {
    display: flex;
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    color: #060505;
    justify-content: space-around;
    text-decoration: none;
}

/* li.current-menu-item a {
    background-color: #fff;
} */

/* ul.menuLinks {
    flex-direction: column;
} */


/* ul.menuLinks.open {
    display: flex;
} */

/* Container styles */
#member-grid, .container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

/* Member card styles */
.card {
    border: 2px solid #060505;
    padding: 1rem;
    /* padding: 16px; */
    /* margin: 16px; */
    border-radius: 8px;
    background-color: #FFFCE8;
    box-shadow: 10px 10px 20px ;
    /* width: calc(33.333% - 32px); */
}

/* Footer styles */
footer {
    /* background-color: #53599A; */
    /* width: 100%; */
    /* display: inline-block; */
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto';
    background-color: #91C499;
    color: #060505;
}