@media screen and (min-width: 640px) {

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        font-family: 'Roboto';
        font-size: 1rem;
        background-color: #91C499;
        color: #060505;
        padding: 1rem;
    }

    ul.menuLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
    }

    #menuButton {
      display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        display: block;
        flex: 1;
    }

    main {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
      }

    .card {
        border: 2px solid #060505;
        padding: 16px;
        margin: 16px;
        border-radius: 8px;
        background-color: #FFFCE8;
        box-shadow: 10px 10px 20px ;
        /* width: calc(33.333% - 32px); */
    }

    .toggle-button {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
    }
    
    .list .card {
        display: grid;
        grid-template-columns: auto;
        width: calc(100% - 22px);
    }

    .grid .card {
      width: calc(33% - 22px);
    }
    
    /* .toggle-button {
        margin: 16px;
    } */

    footer {
        display: grid;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto';
        background-color: #91C499;
        color: #060505;
    }
}

