@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Times, serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: #4ECDC4;
    color: #060505;
    padding: 1rem;
}

nav {
    background-color: #154e13;
}
#menuButton::before {
    content: "☰";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem, 2vw;
}

ul.nenuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: rgba(0,0,0,0,2);
}

ul.menuLinks {
    display: block;
}

#menuButon.open::before {
    content: "X";
}

ul.menuLinks.open {
    display: block;
}

footer {
    /* background-color: #53599A; */
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto';
    background-color: #6B4E71;
    color: #F6F8FF;
}