  /*Mobile View */
  @media (max-width: 640px) {
    #cards {
        display: flex;
    }

    .card {
        padding: 12px;
        margin: 12px;
        border-radius: 6px;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card img {
        max-width: 100%;
    }
  }
